<div> 
   <h1>Productos en tiempo real</h1>

   {{!-- <ul>
      {{#each products}}
         <li>{{this.title}} - ${{this.price}}</li>
      {{/each}}
   </ul> --}}
</div>



{{!-- 

   poner la logica de js aqui 
 --}}